* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: midnightblue;
  color: white;
}

.main-page {
  display: flex;
  gap: 0.7rem;
  justify-content: center;
}

h1 {
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 5rem;
  font-size: 3rem;
}

.reveal-btn {
  background-color: midnightblue;
  font-size: 1.4rem;
  /* width: 50rem; */
  padding: 4rem 1rem 4rem 1rem;
  border: 0.15rem solid white;
  border-radius: 0.7rem;
  color: white;
  cursor: pointer;
}

.hidden-content {
  max-width: 45rem;
  font-size: 1.3rem;
  border: 0.15rem solid white;
  border-radius: 0.7rem;
  padding: 1rem;
}

.hidden-content {
  display: none;
}

.reveal-btn.hidden-content {
  display: block;
}

@media screen and (min-width: 320px) and (max-width: 620px) {
  .container {
    display: inline;
    padding: 2rem;
  }

  body {
    padding: 3rem;
  }

  .reveal-btn {
    font-size: 0.8rem;
  }
}
